<% content_for :title do %>Versions of services maintained by
<% end %>

<div class="gridster">
    <ul>
        <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
            <div data-id="registry" data-view="Versions" data-title="registry" style="background-color:#ff9618"></div>
        </li>

        <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
            <div data-id="hip-as" data-view="Versions" data-title="HIP-AuthorizationService" style="background-color:#9c4274"></div>
        </li>

        <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
            <div data-id="store" data-view="Versions" data-title="HIP-SessionStore" style="background-color:#981aff"></div>
        </li>

        <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
            <div data-id="msb" data-view="Versions" data-title="MSB" style="background-color:#41a128"></div>
        </li>

        <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
            <div data-id="sso" data-view="Versions" data-title="HIP-SSO" style="background-color:#0067E6"></div>
        </li>

        <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
            <div data-id="sso-ott" data-view="Versions" data-title="HIP-SSO-OTT" style="background-color:#0067E6"></div>
        </li>

        <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
            <div data-id="hip-provitem-resolver" data-view="Versions" data-title="hip-provitem-resolver" style="background-color:#57a2ff"></div>
        </li>

        <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
            <div data-id="hip-pim" data-view="Versions" data-title="HIP-ProvInfoManager" style="background-color:#57a2ff"></div>
        </li>

        <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
            <div data-id="cis" data-view="Versions" data-title="HCS CIS" style="background-color:#aaaaaa"></div>
        </li>

        <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
            <div data-id="orderservice" data-view="Versions" data-title="HCS orderservice" style="background-color:#aaaaaa"></div>
        </li>

        <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
            <div data-id="hostingorder2" data-view="Versions" data-title="HCS hostingorder2" style="background-color:#aaaaaa"></div>
        </li>

        <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
            <div data-id="cpidp" data-view="Versions" data-title="CP IDP" style="background-color:#aaaaaa"></div>
        </li>

        <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
            <div data-id="tom" data-view="Versions" data-title="TOM-Service" style="background-color:#aaaaaa"></div>
        </li>

        <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
            <div data-id="tom-tariff" data-view="Versions" data-title="TOM-Tariff-Service" style="background-color:#aaaaaa"></div>
        </li>

        <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
            <div data-id="remote-dummy" data-view="Versions" data-title="dummy-approval" style="background-color:#FF9966"></div>
        </li>

        <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
            <div data-id="wsbplusone" data-view="List" data-title="WSB+1"/>
        </li>

        <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
            <div data-id="wsbplusonegraph" data-view="Rickshawgraph" data-title="WSB+1 Graph" data-unstack="true" data-summary-method="highest" data-legend="true"
            data-renderer="area" data-color-scheme="rainbow"/>
        </li>

        <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
            <div data-id="jhip-registry" data-view="JenkinsBuild" data-min="0" data-max="100"></div>
        </li>

        <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
            <div data-id="jhip-as" data-view="JenkinsBuild" data-min="0" data-max="100"></div>
        </li>

        <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
            <div data-id="jhip-sso-ott" data-view="JenkinsBuild" data-min="0" data-max="100"></div>
        </li>

        <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
            <div data-id="jhip-p-resolver" data-view="JenkinsBuild" data-min="0" data-max="100"></div>
        </li>

        <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
            <div data-id="jtomdata_rel" data-view="JenkinsBuild" data-min="0" data-max="100"></div>
        </li>

        <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
            <div data-id="jmsb" data-view="JenkinsBuild" data-min="0" data-max="100"></div>
        </li>

        <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
            <div data-id="jwsb" data-view="JenkinsBuild" data-min="0" data-max="100"></div>
        </li>

        <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
            <div data-id="jcme-mig-service" data-view="JenkinsBuild" data-min="0" data-max="100"></div>
        </li>

        <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
            <div data-id="kliChester" data-view="Klimato"></div>
        </li>

        <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
            <div data-id="kliLogrono" data-view="Klimato"></div>
        </li>

        <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
            <div data-id="kliGlou" data-view="Klimato"></div>
        </li>

        <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
            <div data-id="kliKA" data-view="Klimato"></div>
        </li>

        <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
            <div data-id="kliBer" data-view="Klimato"></div>
        </li>

        <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
            <div data-id="kliBu" data-view="Klimato"></div>
        </li>

        <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
            <div data-id="kliCebu" data-view="Klimato"></div>
        </li>

        <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
            <div data-id="kliAde" data-view="Klimato"></div>
        </li>

        <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
            <div data-id="chuck" data-view="Text" data-title="Team Facts"/>
        </li>

        <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
            <div data-id="funny_images" data-view="Image" data-width="300"></div>
        </li>
    </ul>
</div>
