<% content_for :title do %>Versions of services maintained by
<% end %>

<div class="gridster">
    <ul>
        <li data-row="1" data-col="1" data-sizex="4" data-sizey="6">
            <div data-id="newsfeeds" data-view="List" data-title="Yahoo Feeds"/>
        </li>

        <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
            <div data-id="stockexchange" data-view="Rickshawgraph" data-title="United" data-unstack="true" data-summary-method="highest" data-legend="true"
                 data-renderer="area" data-color-scheme="rainbow" data-min="25"/>
        </li>

        <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
            <div data-id="jenkins-job01" data-view="JenkinsBuild" data-min="0" data-max="100"></div>
        </li>

        <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
            <div data-id="jenkins-job02" data-view="JenkinsBuild" data-min="0" data-max="100"></div>
        </li>

        <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
            <div data-id="kliZurich" data-view="Klimato"></div>
        </li>

        <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
            <div data-id="kliVienna" data-view="Klimato"></div>
        </li>

        <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
            <div data-id="kliLon" data-view="Klimato"></div>
        </li>

        <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
            <div data-id="kliKA" data-view="Klimato"></div>
        </li>

        <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
            <div data-id="kliBer" data-view="Klimato"></div>
        </li>

        <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
            <div data-id="kliAde" data-view="Klimato"></div>
        </li>

        <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
            <div data-id="chuck" data-view="Text" data-title="Team Facts"/>
        </li>

        <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
            <div data-id="fourtytwo" data-view="Text"/>
        </li>

        <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
            <div data-id="funny_images" data-view="Image" data-width="300"></div>
        </li>
    </ul>
</div>
